body {
 	font-family: Helvetica,Arial,sans-serif;
 	font-size: 4.4em;
 	line-height: 1.4;
 	background: #000;
 	color: #fff;
 	overflow: hidden;
}

#speech {
 	position: relative;
    min-height: 250px;
}
#speech-content {
    position: absolute;
    bottom: 0;
    left: 50px;
  }

  strong {
	margin-left: .5em;

}
.slide {
 	text-align: center;
	 margin: 0;
}
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
